{{ cluster_domain }}:53 {
    bind    {{ ansible_default_ipv4.interface }}
    file    /etc/coredns/clusters/{{ cluster_domain }}.record
    log
}

{% for cluster in cluster_list %}
{% set rev_dns = cluster.value.ip | ansible.utils.ipaddr('address') | split('.') | reverse | join('.') %}
{{ rev_dns }}.in-addr.arpa:53 {
    bind    enp3s0
    file    /etc/coredns/clusters/{{ cluster_domain }}-{{ rev_dns }}.reverse
    log
}
{% endfor %}