{{ project_domain }}:53 {
    bind    {{ ansible_default_ipv4.interface }}
    file    "{{ dns_root }}/{{ project_domain }}.record"
    log
}

import ./{{ project_domain }}-{{ reverse_ip_list | join('.') }}.rreverse
